# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables and local secrets
.env

# macOS system files
.DS_Store

# Inventory Report Text File
inventory_report.txt

# Persistent JSON File
equipment_inventory.json
